---
import { Image } from "astro:assets";
import gembox from "../../public/gembox.png";
---

<style>
  .gembox-image {
    height: 400px;
  }

  .image-container {
    background-color: var(--color-floral-white);
    height: 400px;
    width: 400px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .about-section {
    padding: 2rem;
    background-color: var(--color-champagne);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 4rem;
    height: 400px;
  }

  .about-section h2 {
    font-size: var(--font-size-xl);
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--color-text-black);
  }

  .about-section p {
    font-size: var(--font-size-m);
    color: var(--color-text-black);
    line-height: 1.7;
    width: 400px;
  }
</style>

<section id="about">
  <div class="about-section">
    <h2>About the Collection</h2>
    <p>
      This collection showcases a carefully curated selection of unique and
      valuable items, each with its own story and significance. From rare
      artifacts to timeless pieces, every item in our collection has been chosen
      for its quality, craftsmanship, and historical importance. Whether you're
      a seasoned collector or someone with a growing interest, our collection
      offers something for everyone. We aim to not only preserve these treasures
      but also share their rich history and cultural relevance with you. Explore
      the diverse themes, learn about the artistry behind each piece, and
      discover the beauty of the past, preserved for the future.
    </p>
  </div>
  <div class="image-container">
    <Image src={gembox} alt="Gem box" class="gembox-image" />
  </div>
</section>
