<style>
  footer,
  .social-media,
  form {
    display: flex;
    flex-direction: column;
  }

  footer {
    background-color: var(--color-floral-white);
    border-top: 1px solid black;
  }

  .top-container {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
  }

  .bottom-container {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
  }

  a {
    font-size: var(--font-size-m);
    color: var(--color-text-black);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  input {
    margin: 0.5rem 0;
    background-color: var(--color-floral-white);
    border: 2px solid var(--color-champagne);
  }

  input::placeholder {
    padding-left: 0.5rem;
  }

  button {
    background-color: var(--color-champagne);
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }

  #back-to-top {
    padding: 0.5rem;
    border-radius: 5px;
  }

  a,
  li {
    margin-top: 0.5rem;
  }
</style>

<footer>
  <div class="top-container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#collection">Gem Collection</a></li>
        <li><a href="/#about">About</a></li>
      </ul>
    </nav>
    <div class="social-media">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://twitter.com" target="_blank">Twitter</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
    </div>
    <form>
      <label for="email">Subscribe to our newsletter:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
      />
      <button type="submit">Subscribe</button>
    </form>
  </div>
  <div class="bottom-container">
    <p>&copy; 2024 Rare Gems. All rights reserved.</p>
    <p>Contact us: info@raregems.com | +123-456-7890</p>
    <button id="back-to-top">Back to Top</button>
  </div>
</footer>

<script>
  document.getElementById("back-to-top").addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
