---
const navLinks = [
  { name: "About", href: "/#about" },
  { name: "Collection", href: "/#collection" },
];
import { Image } from "astro:assets";
import diamond from "../../public/diamond.png";
---

<style>
  .diamond-image {
    height: 64px;
    width: auto;
  }

  header {
    background-color: var(--color-floral-white);
    color: var(--color-text-black);
    padding: 1rem 5rem;
    border-bottom: 1px solid black;
  }

  h1 {
    font-size: 2.5rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  nav a {
    font-size: var(--font-size-l);
    color: var(--color-text-black);
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>

<header>
  <div class="container">
    <h1>Rare Gems</h1>
    <a href="/"
      ><Image
        src={diamond}
        alt="diamond"
        class="diamond-image"
        sizes="(min-width: 600px) 64px, (min-width: 460px) calc(23.33vw - 71px), calc(100vw - 419px)"
      />
    </a>

    <nav>
      <ul>
        {
          navLinks.map((link) => (
            <li>
              <a href={link.href}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
